@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Rubik+Mono+One&family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;900&display=swap');

$red: #FE3535;
$black: #1f1f1f;
$font: 'Rubik', sans-serif;
$normal: 2.5vh;
$bold: 900;

@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button(){
    height: 6vh;
    width: auto;
    color: white;
    font-size: $normal;
    font-weight: $bold;
    border: 2px solid transparent;
    background: none;
    outline: none;
    cursor: pointer;
}

html{
    width: 100vw;
    overflow-x: hidden;
}
body{
    width: 100vw;
    background-color: $black;
}

.header{
    position: relative;
}

.main{
    min-height: 100vh;
    .map{
        svg{
            width: 90vw;
            height: auto;
            path{
                cursor: pointer;
                &:hover{
                    fill:red;
                }
            }
        }
    }
}